@import url(/css/reset.css);
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

*{
    box-sizing: border-box;
}

body{
    font-family: 'Ubuntu', sans-serif;
}

.clear-fix{
    clear:both;
}

/* -----------------Typography----------------------*/



h1{
    font-size: 1.8rem;
    line-height: 2rem;
}

h2{
    font-size: 1.6rem;
    line-height: 1.8rem;
}

h3{
    font-size: 1.2rem;
    line-height: 1.4rem;
}

h4{
    font-size: 1rem;
    line-height: 1.4rem;
}

h5{
    font-size: 0.9rem;
    line-height: 1.2rem;
}

h6{
    font-size: 0.8rem;
    line-height: 1.1rem;

}

/* -----------------Layout----------------------*/

:root{
    --header-height:50px; /* Not needed give REM values. since zooming issue not happend now */
    --nav-width:150px;
    --layout-border-color:lightgray;
}

#header{
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    height: var(--header-height);
    background-color: rgb(255, 255, 255,0.7);
    border-bottom: 1px solid var(--layout-border-color);
}

#nav{
    position: fixed;
    left: 0;
    top: var(--header-height);
    bottom: 0;
    width:var(--nav-width);
    border-right: 1px solid var(--layout-border-color);
}

#main{
   
    margin-left: var(--nav-width);
    margin-top: var(--header-height);
}

#footer{
    text-align: center;
    padding: 10px 10px 15px 10px;
    border-top: 1px solid var(--layout-border-color);
}

#logo{
    padding-left: 10px;
}

#smi-container{
    float: right;
    height: var(--header-height);
    padding-right:10px ;
}

#smi-container .smi-icons{
    float: left;
    height: 100%;
    width: 40px;
    overflow: hidden;
    white-space: nowrap;
    padding: 15px 10px;
    cursor: pointer;
    transition: background-color 600ms, width 500ms;
    font-weight: bold;
    
}



#smi-container .smi-icons:nth-child(1):hover{
    background-color: #3b5998;
    
    
}
#smi-container .smi-icons:nth-child(2):hover{
    background-color: #0e76a8;
    
}
#smi-container .smi-icons:nth-child(3):hover{
    background-color: #00acee;
    
}
#smi-container .smi-icons:nth-child(4):hover{
    background-color: #3f729b;
    
}
#smi-container .smi-icons:nth-child(5):hover{
    background-color: #c4302b;
    
}
#smi-container .smi-icons:nth-child(6):hover{
    background-color: #444;
    
}
#smi-container .smi-icons:nth-child(7):hover{
    background-color: #6567a5;
}

#smi-container .smi-icons:not(:last-child){
    border-right: 1px solid var(--layout-border-color);
}

#smi-container .smi-icons ion-icon{
    font-size: 1.3rem;
    color: #666;
    transition: color 250ms;
    padding-right: 10px;
    vertical-align: sub;
}

#smi-container .smi-icons:hover{
    color: white;
    width: 140px;
    
}

#smi-container .smi-icons:hover ion-icon{
    color: white;
}